

.submit-btn-wrapper > button {
    width: 100%;
    -moz-box-shadow: 0px 3px 0px 0px #1f833d;
    -webkit-box-shadow: 0px 3px 0px 0px #1f833d;
    box-shadow: 0px 3px 0px 0px #1f833d;
    background-color: #3aac5c;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border: none;
    outline: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .submit-btn-wrapper > button:disabled {
        background-color: #808080;
        cursor: default;
        pointer-events: none;
        -moz-box-shadow: 0px 3px 0px 0px #6b6b6b;
        -webkit-box-shadow: 0px 3px 0px 0px #6b6b6b;
        box-shadow: 0px 3px 0px 0px #6b6b6b;
    }


    .submit-btn-wrapper > button:hover {
        transform: translateY(2px);
        background-color: #3aac5c;
        -moz-box-shadow: 0px 3px 0px 0px #3aac5c;
        -webkit-box-shadow: 0px 3px 0px 0px #3aac5c;
        box-shadow: 0px 3px 0px 0px #3aac5c;
    }

    .submit-btn-wrapper > button:active {
        position: relative;
        top: 1px;
    }

.profile-settings {
    margin-top: 30px;
    padding-bottom: 10px;
    width: 20rem;
    align-self: center;
    border-top: solid #D3D0D0 0.5px;
    border-bottom: solid #D3D0D0 0.5px;
}

    .profile-settings h1 {
        margin: 0;
        padding: 0;
        padding-top: 12px;
    }

.user-profile {
    align-self: center;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    margin: auto;
}

    .User-profile-content label {
        display: block;
        font-size: 12px;
        color: #707070;
    }

        .User-profile-content label:nth-child(1) {
            font-size: 20px;
        }


.Auth-error-Wrapper {
    background-color: red;
    padding: 1px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-align: center;
}


.Auth-submit-btn-wrapper{
    width: 100%;
}

.Auth-submit-link-wrapper {
    padding-top: 20px;
    width: 100%;
    font-size: 14px;
}

.Auth-card-span {
    overflow: hidden;
    margin: 10px 0 10px 0;
}

.Auth-card-span > label {
    font-size: 14px;
    color: #707070;
}

.Auth-submit-section > label {
    color: dimgrey;
}

.Auth-link {
    cursor: pointer;
    color: #7192FF;
    text-decoration-line: none;
}
    .Auth-link:hover {
        text-decoration-line: underline;
        color: #3057d7;
    }

.Auth-submit-section {
    margin-top: 20px;
    text-align: center;
}

.Auth-title-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Auth-title {
    color: black;
    font-size: 20px !important;
    font-weight: 400;

}
.Auth-card-span > div > i {
    float: right;
    margin-top: 4px;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 0 4px 4px 0;
    background-color: #dcdcdc;
    border: solid #D3D0D0 0.5px;
    color: #707070;
    cursor: pointer;
    border-left: none;
    z-index: 0;
}
.Auth-card-span > div > i:hover {
    color: black;
}



.password-security-hints {
    margin: 14px 0 50px 0;
}

    .password-security-hints > label {
        margin: 0 2px;
        width: 100%;
        font-size: 14px;
        display: inline-block;
        
    }

        .password-security-hints > label:nth-child(1) {
            margin: 6px 2px;
            width: 100%;
            font-size: 18px;
            display: inline-block;
            color: #707070;
        }


.green {
    color: #06c266
}

.red {
    color: #ff7979
}


.Profile-Settings-redlink {
    text-align: center;
    color: #c42b2b;
    cursor: pointer;
    margin-top: 10px;
}

    .Profile-Settings-redlink > * {
        cursor: pointer;
    }
        .Profile-Settings-redlink > *:hover {
            color: #ff4747;
        }

.logout-label {
    text-align: right; 
}

.register-wrapper {
    width: 20rem;
}
