@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&family=Roboto:wght@300;500&display=swap');

body {
    margin: 0;
    background-color: #D3D0D0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    margin-top: 4px;
    font-size: 18px;
    width: 100%;
    padding: 6px 4px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid #D3D0D0 0.5px;
    z-index: 1;
}

.floating-card {
    border-radius: 6px;
    background-color: #EBEBEB;
    padding: 15px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

#link {
    color: #7192FF;
    cursor: pointer;
}

    #link:hover {
        text-decoration-line: underline;
        color: #3057d7;
    }

.floating-card-wrapper {
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Loading-wrapper {
    text-align: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #626262;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }